@charset "utf-8";

/**
 * Common styles
 * ---------------------------------------------------------------------------- */
body {
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

@media (min-width: 768px) {
    .md\:min-h-600 {
        min-height: 600px;
    }
}

/** Spinner */
.spinner {
    animation: spinner 1s ease-out infinite;
    border: 4px solid #3182ce;
    border-radius: 10em;
    height: 40px;
    width: 40px;
}

@keyframes spinner {
    0% {
        opacity: 0; 
        transform: scale(0);
    }

    50% {
        opacity: 1; 
    }

    100% {
        opacity: 0;
        transform: scale(1);
    } 
}
  

/**
 * Interactions
 * ---------------------------------------------------------------------------- */
@media (max-width: 767px) {
    #mainMenu {
        display: none;
    }

    #mainMenuToggle:checked ~ #mainMenu {
        display: block;
    }

    #userAccountMenu {
        right: -100%;
        transition: 0.45s ease right;
        z-index: -200;
    }

    #userAccountMenuBackdrop {
        opacity: 0;
        pointer-events: none;
        transition: 0.45s ease opacity;
        z-index: -100;
    }

    #userAccountMenuToggle:checked ~ #userAccountMenu {
        display: block;
        right: 0;
        z-index: 200;
    }

    #userAccountMenuToggle:checked ~ #userAccountMenuBackdrop {
        display: block;
        opacity: 0.75;
        pointer-events: all;
        z-index: 100;
    }
}